@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,300);
$font-family-base: 'Raleway', sans-serif;
$brand-color: red;
$font-size-base:14px !default;

// Change Navigation Colors
$navbar-default-bg: lightblue;
$navbar-default-border: darkblue;
// Change Nav Brand
$navbar-default-brand-color: red;
$navbar-default-brand-hover-color: yellow;
$navbar-default-brand-hover-bg: pink;